/dts-v1/;

#include "sun8i-s3.dtsi"
#include "sunxi-common-regulators.dtsi"

/ {
    model = "Allwinner S3 Adatis Command Center";
    compatible = "licheepi,licheepi-zero", //"allwinner,sun8i-s3",
                "allwinner,sun8i-v3s";

    aliases {
        serial0 = &uart1;
    };

/*    mmc2_pwrseq: mmc2_pwrseq {
        compatible = "mmc-pwrseq-emmc";
        reset-gpios = <&pio 2 2 GPIO_ACTIVE_LOW>;   // PC2
    };*/

    chosen {
        stdout-path = "serial0:115200n8";
    };


    backlight: backlight {
        compatible = "pwm-backlight";
        pwms = <&pwm 0 50000 0>;

        brightness-levels = <0 10 20 30 40 50 60 70 80 90 100>;
        default-brightness-level = <10>;

        status = "okay"; 
        default-on;
    };
    /*    backlight: backlight {
        compatible = "pwm-backlight";
        power-supply
        pwms = <&pwm 0 50000 1>;
        brightness-levels = <0 2 4 8 16 32 64 128 255>;
        default-brightness-level = <3>;
    };*/

    panel-rgb@0 {   //#CONFIG_VIDEO_LCD_MODE="x:800,y:480,depth:18,pclk_khz:33000,le:87,ri:40,up:31,lo:13,hs:1,vs:1,sync:3,vmode:0"
        #address-cells = <1>;
        #size-cells = <0>;

        compatible = "simple-panel";
        backlight = <&backlight>;
        status = "okay";
        
        bits-per-pixel = <32>;
        bpp = <32>;        
        bus-width = <18>;
        
        pinctrl-names = "default";
        pinctrl-0 = <&lcd_rgb666_pins_a>, <&lcd_power_pin_som204>;

        enable-gpios = <&pio 4 19 0>; // PE19

        display-timings {
            timing@0 {
//                data-width = <18>;
                clock-frequency = <33000000>;
                hactive = <800>;
                vactive = <480>;
                hfront-porch = <40>;
                hback-porch = <87>;
                hsync-len = <1>;
                vfront-porch = <10>;
                vback-porch = <31>;
                vsync-len = <1>;
                hsync-active = <0>;
                vsync-active = <0>;
                de-active = <0>;
                pixelclk-active = <1>;
            };
        };
    };
};

&emac {
    phy-handle = <&int_mii_phy>;
    phy-mode = "mii";
    allwinner,use-internal-phy;
    status = "okay";
};


/*  // From V3S board
&mmc0 {
    pinctrl-0 = <&mmc0_pins_a>;
    pinctrl-names = "default";
    broken-cd;
    bus-width = <4>;
    vmmc-supply = <&reg_vcc3v3>;
    status = "okay";
};
*/
&mmc0 {
    pinctrl-0 = <&mmc0_pins_a>;
    pinctrl-names = "default";
    broken-cd;
//    cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>; // PF6 
    bus-width = <4>;
    status = "okay";
};
/*
&mmc2 {
    non-removable;
    bus-width = <8>;
    status = "okay";
    vmmc-supply = <&reg_vcc3v3>;
    vqmmc-supply = <&reg_vcc3v3>;
    mmc-pwrseq = <&mmc2_pwrseq>;

    max-frequency = <20000000>;

    emmc: emmc@0 {
        reg = <0>;
        compatible = "mmc-card";
        broken-hpi;
    };    
};
*/
&spi0 {
    status = "disabled";
};


&i2c0 {
    status = "okay";

/*    axp209: pmic@34 {
        reg = <0x34>;
        interrupt-parent = <&nmi_intc>;
        interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
    };*/
};

&pio {
    uart1_pins_e: uart1@0 {
        pins = "PE21", "PE22";
        function = "uart1";
        bias-pull-up;
    };

    lcd_power_pin_som204: lcd_power_pin@0 {
        pins = "PE19";
        function = "gpio_out";
    };
};
/*
#include "axp209.dtsi"

&reg_dcdc2 {
    regulator-always-on;
    regulator-min-microvolt = <1000000>;
    regulator-max-microvolt = <1100000>;
    regulator-name = "vdd-cpu";
};

&reg_dcdc3 {
    regulator-always-on;
    regulator-min-microvolt = <1000000>;
    regulator-max-microvolt = <3300000>;
    regulator-name = "vdd-int-dll";
};

&reg_ldo1 {
    regulator-always-on;
    regulator-min-microvolt = <1300000>;
    regulator-max-microvolt = <3300000>;
    regulator-name = "vdd-rtc";
};

&reg_ldo2 {
    regulator-always-on;
    regulator-min-microvolt = <3000000>;
    regulator-max-microvolt = <3000000>;
    regulator-name = "avcc";
};

&reg_ldo3 {
    regulator-min-microvolt = <1000000>;
    regulator-max-microvolt = <1200000>;
    regulator-name = "vddio-csi0";
    regulator-soft-start;
    regulator-ramp-delay = <1600>;
};

&reg_ldo4 {
    regulator-min-microvolt = <2800000>;
    regulator-max-microvolt = <2800000>;
    regulator-name = "vddio-csi1";
};

*/

&uart1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart1_pins_e>; 
};

&usb_otg {
    pinctrl-names = "default";  
    dr_mode = "host";
    status = "okay";
};

&usbphy {
    status = "okay";
};

&ehci0 {
    status = "okay";
};

&ohci0 {
    status = "okay";
};

&pwm {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pwm0_pins>;    
};



